--find-links https://download.pytorch.org/whl/cu118
isort
black
torch 
torchvision 
torchaudio
x-transformers
wandb
jupyterlab
tqdm
ipywidgets
ipykernel
pandas
scikit-learn
fastparquet
dask[distributed]
fire
nomic
accelerate
umap-learn[plot]